* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  list-style: none;
}

.item-image {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}